

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://default:password@ep-icy-sunset-a165453m-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb"
NEXT_PUBLIC_SITE_TITLE = Kartik Malik
NEXT_PUBLIC_SITE_DESCRIPTION = Full Stack Developer
NEXT_PUBLIC_FAVICON_URL = https://utfs.io/f/f3552155-ac03-458f-8b89-fc28a2873f38-hru0oc.ico
NEXT_PUBLIC_THUMBNAIL_IMAGE = https://utfs.io/f/f70ced27-7431-4e10-b720-2d6671207734-82fh7z.jpg

